<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta property="og:site_name" content="{{ site.title | escape }}" />
    <meta property="og:locale" content="fr_FR" />

    <meta property="og:image" content="{{ '' | prepend: site.baseurl }}"> <!-- TODO -->
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1853">
    <meta property="og:image:height" content="1280">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="google-site-verification" content="52wvJjVPMiz-SLAoz0UOZte5zrQKayn48w_wgn3DxTA" />
    <!-- SEO : Title, description & canonical url -->
    <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | escape }} | {% endif %}{{ site.title | escape }}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %}{{ page.title | strip_html | escape }} | {% endif %}{{ site.title | escape }}</title>

    <link rel="canonical" href="{{ site.url  | append: page.url }}">
    
    <link rel="shortcut icon" href="{{ '/images/favicon.png' | prepend: site.baseurl }}" />

    <!-- CSS stylesheet -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Montserrat+Alternates:wght@700&family=Oswald:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ '/css/main.css?t=' | prepend: site.baseurl }}{{ site.time | date: '%y-%m-%d' }}"/>
    
    <!-- JS -->
    <script src="https://use.fontawesome.com/967448ca0d.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41373888-1"></script>
</head>
