{% assign main_pages = site.pages | where:"menu", "main" | sort:"order" %}
{% assign mobile_pages = site.pages | where:"menu", "mobile" | sort:"order" %}
{% assign all_pages = main_pages | concat: mobile_pages %}

<nav>
    <ul>
        <li>
        <a href="{% link index.html %}">Priscille Douine</li>
        {% for the_page in main_pages %}
        <li class="d-none d-sm-block">
            <a href="{{ the_page.url | prepend: site.baseurl }}">
                {{ the_page.menu-title }}
            </a>
        </li>
        {% endfor %}
        <li class="d-sm-none" >
            <button id="link-mobile-menu" onclick="toggleMenu()">
                Menu
                <span for="check" id="cmp-burger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
        </li>
    </ul>
</nav>

<div id="popover-menu">
    <ul id="popover-links">
        {% for the_page in all_pages %}
        <li>
            <a href="{{ the_page.url | prepend: site.baseurl }}" title="{{ the_page.title }}" class="shadow-accented {% if the_page.order == page.order %} active{% endif %}">
                {{ the_page.menu-title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>