<div class="col-md-6 section-col-{% if include.compact == true %}compact{% else %}detailed{% endif %} {% if include.theme == "dark" %}section-col-accented{% else %}section-col-light{% endif %}">
    <div class="section-col-{% if include.compact == true %}compact{% else %}detailed{% endif %}-container">
        <h3 class="shadow-secondary anim-fadein-apparition">{{ include.title }}</h3>
        <p class=" anim-fadein-apparition">
            {{ include.text }}
        </p>

        <a href="{{ include.url }}" class="anim-fadein-apparition {% if include.theme == "dark" %}button button-arrowed button-accented{% else %}link link-arrowed shadow-secondary active{% endif %}">{{ include.link }}</a>
    </div>
</div>