.button {
    padding: 12px 12px;
    line-height: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    justify-content: center;
    width: 200px;
}

.button-small {
    padding: 8px 12px;
    font-size: $font-size-small;
    width: inherit;
}

.button-accented {
    color: $color-content-reverse;
    background-color: $color-accent-main;
}

.button-accented:hover {
    color: $color-content-reverse;
    opacity: 0.8;
}

#cmp-burger-menu {
    display: flex;
    flex-direction: column;
    width: 35px;
    margin-left: 8px;
    cursor: pointer;
}

#cmp-burger-menu span {
    background: $color-content-main;
    border-radius: 3px;
    height: 3px;
    margin: 3px 0;
    transition: 0.3s ease-out;
}

#cmp-burger-menu span:nth-of-type(1) {
    width: 50%;
}

#cmp-burger-menu span:nth-of-type(2) {
    width: 100%;
}

#cmp-burger-menu span:nth-of-type(3) {
    width: 75%;
}

#cmp-burger-menu.active span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(3px, 0px);
}

#cmp-burger-menu.active span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
}

#cmp-burger-menu.active span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(14px, -4px) rotatez(45deg);
}

.line-left {
    display: flex;
    align-items: center;
}

.line-left::before {
    content: "";
    width: 60px;
    height: 2px;
    margin-right: 15px;
    background-color: $color-content-main;
}

.line-below {
    display: flex;
    flex-direction: column;
}

.line-below::after {
    content: "";
    width: 60px;
    height: 2px;
    margin-top: 20px;
    background-color: $color-content-main;
}

.cmp-full-col-img {
    max-width: 100%;
}