// GLOBAL STYLES
html,
body {
  font-family: $font-family;
  color: $color-content-main;
  font-size: $font-size-body;
  height: 100%;
}

a {
  color: $color-accent-main;
  text-decoration: none;
}

body {
  background-color: white;
}

h1 {
  font-size: $font-size-header-extra-large;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-header-extra-large-sm;
  }
}

h2 {
  font-size: $font-size-header-large;
  margin: 20px 0px;
}

h3 {
  font-size: $font-size-header-large;
  margin: 20px 0px;
}

h4 {
  font-size: $font-size-header-medium;
  margin: 18px 0px;
}

h2 + p, h3 + p, h4 + p {
  margin-top: 30px;
}

a {
  cursor: pointer;
}

p {
  line-height: 30px;
}

strong {
  font-family: $font-family-accented;
}

small {
  font-size: $font-size-small;
}

p + a {
  margin-top: 60px;
}

img {
  object-fit: contain;
}

@media (min-width: 768px) {
  .offset-md-1-5 {
    margin-left: 12.5%;
  }
}

.d-none-mobile {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

footer {
  background-color: $color-background-dark;
  text-align: center;
  padding: 20px 0px;
  color: $color-content-reverse;
}