.section-light,
.section-col-light {
    color: $color-content-dark;
}

.section-light p,
.section-col-light p {
    color: $color-content-medium;
}

.section-col-backgrounded {
    background-color: black;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 100vh;
    display: flex;
}

.section-col-dark {
    background-color: black;
}

.section-col-light {
    background-color: white;
}

.section-col-detailed,
.section-col-compact {
    display: flex;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding-bottom: 60px;
    }
}

.section-col-detailed p {
    margin: 80px 0px 60px 0px;
    @include media-breakpoint-down(sm) {
        margin: 40px 0px 30px 0px;
    }
}

.section-col-compact p {
    margin: 30px 0px 30px 0px;
    @include media-breakpoint-down(sm) {
        margin: 20px 0px 20px 0px;
    }
}

.section-col-detailed h3,
.section-col-compact h3 {
    display: inline;
}

.section-col-detailed-container,
.section-col-compact-container {
    align-self: center;
    padding: 20px 15% 20px 15%;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding: 10px 5% 10px 5%;
    }
}

.section-col-detailed-container {
    @include media-breakpoint-down(sm) {
        margin-top: 120px;
    }
}

#section-banner {
    padding-top: 105px; // For header
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section-banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 370px;
    @include media-breakpoint-down(sm) {
        height: 220px;
    }
}

#section-banner-title h2:first-child {
    margin-left: -30%;
}

#section-banner-title h2:last-child {
    margin-right: -30%;
}

#section-banner-title .caption {
    margin-top: 18px;
    text-align: center;
}

.section-behind-banner {
    margin-top: -580px;
    padding-top: 580px;
    @include media-breakpoint-down(sm) {
        margin-top: -50px;
        padding-top: 50px;
    }
}

#section-vertical-band {
    min-height: 520px;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap-reverse;
    }
}

#section-vertical-band p {
    font-size: $font-size-body-highlighted;
    line-height: 38px;
}

#section-vertical-band-description {
    width: 390px;
    margin-left: 160px;
    @include media-breakpoint-down(sm) {
        width: 90%;
        margin: auto;
    }
}

.section-plain {
    margin-top: 166px;
}

.section-content {
    margin-top: 113px;
    @include media-breakpoint-down(sm) {
        margin-top: 91px;
    }
}

.section-fixed {
    height: 500px;
    width: 100%;
    position: fixed;
    top: 113px;
    @include media-breakpoint-down(sm) {
        top: 91px;
        height: 300px;
    }
}

.section-fixed-overlapping {
    margin-top: 613px; // 500 + top
    @include media-breakpoint-down(sm) {
        margin-top: 391px;
    }
}

.section-parallax {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-parallax h2 {
    margin: 0px 5%;
    text-align: center;
}
