.section-col-accented {
    background-color: $color-background-accented;
}

.section-col-gray {
    background-color: $color-background-gray;
}

.section-col-light {
    background-color: white;
}

.col-md-6 .margin-container {
    align-self: center;
    width: 100%;
    padding: 130px 15%;
    @include media-breakpoint-down(sm) {
        padding: 10% 5%;
    }
}

.col-md-8 .margin-container, .col-md-12 .margin-container {
    align-self: center;
    width: 100%;
    padding: 130px 8%;
    @include media-breakpoint-down(sm) {
        padding: 5% 5%;
    }
}

#container>.row:first-child {
    @include media-breakpoint-down(sm) {
        padding-top: 100px
    }
}

#container {
    min-height: calc(100% - 57px);
}
