.section-col-accented {
    background-color: $color-background-accented;
}

.section-col-gray {
    background-color: $color-background-gray;
}

.section-col-light {
    background-color: white;
}

.margin-container {
    align-self: center;
    padding: 20% 15% 20% 15%;
    @include media-breakpoint-down(sm) {
        padding: 10% 5% 10% 5%;
        margin-top: 20px;
    }
}

.margin-container-full {
    padding: 5% 8%
}