// Variables
$color-accent-main: #688882;

$color-content-main: #656565;
$color-content-reverse: #ffffff;

$color-background-accented: #bfd1ce;
$color-background-gray: #EEE;
$color-background-dark: #383e3d;

$font-family: Futura LT, sans-serif;

$font-size-header-extra-large: 100px;
$font-size-header-extra-large-sm: 40px;
$font-size-header-large: 24px;
$font-size-menu: 18px;
$font-size-body: 16px;

/* Specific */
@font-face {
    font-family: "Futura LT";
    src: url("../fonts/FuturaLT-Light.ttf");
}