#home-presentation {
    @include media-breakpoint-down(md) {
        margin-top: 80px;
    }
}

#home-illustration {
    background-image: url("/images/20230924_150957.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#home-illustration img {
    padding: 10%;
}

#home-rdv h3:not(:first-child) {
    padding-top: 40px;
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
    }
}

#home-presentation h1:nth-child(2) {
    margin-left: 30px;

    @include media-breakpoint-down(md) {
        margin-left: 10px;
    }
}