.pricing-details-container {
    display: flex;
    height: 80px;
    margin: auto;
    border-bottom: solid 1px gray;
    align-items: center;
}

#pricing-note {
    display: block;
    margin: auto;
}

.pricing-title {
    flex-grow: 1;
}

.pricing-title, .pricing-value {
    font-size: $font-size-header-medium;
}