footer {
    background-color: black;
}

#section-footer-container {
    margin: auto;
    padding: 0 5%;
    @include media-breakpoint-down(sm) {
        padding: 0 0;
    }
}

#section-footer-large {
    height: 582px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
        height: 300px;
    }
}

#section-footer-large h3 {
    display: inline;
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

#footer-contact-container {
    display: flex;
    align-content: space-between;
    margin-top: 60px;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
}

#footer-contact-coordinates-container {
    display: flex;
}

#footer-contact-coordinates {
    flex-grow: 2;
    margin: 0px 30px;
}

#footer-contact-coordinates p {
    margin-top: 10px;
    @include media-breakpoint-down(sm) {
        display: none;
    }
}

#footer-contact-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer-phone-line {
    width: 151px;
    height: 1px;
    background-color: white;
    display: block;
    margin-top: 10px;
    @include media-breakpoint-down(sm) {
        width: 55px;
    }
}

#footer-mail-line {
    width: 44px;
    height: 4px;
    background-color: $color-accent-main;
    display: block;
    margin-top: 70px;
}

#footer-phone-link {
    display: block;
    margin-bottom: 45px;
}

#footer-mail-link {
    margin-top: 20px;
}

#footer-phone-link, #footer-mail-link {
    font-size: $font-size-footer;
    font-weight: bold;
}

#footer-contact-button {
    display: flex;
    align-items: baseline;
    flex-grow: 2;
    justify-content: flex-end;
}

#footer-contact-button a {
    width: 306px;
    @include media-breakpoint-down(sm) {
        margin: 50px auto;
    }
}

#section-footer-small {
    min-height: 120px;
    display: flex;
    align-items: center;
    color: $color-content-light;
    border-top: solid white 1px;
    padding: 0px 2%;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
        align-items: flex-start;
        padding: 30px 38px 30px;
    }
}


#section-footer-small {
    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

#section-footer-small a {
    transition: all 0.2s ease-in-out;
}

#section-footer-small a:hover {
    color: $color-content-reverse;
}

#footer-logo {
    flex-grow: 2;
    text-align: center;
    @include media-breakpoint-down(sm) {
        margin: 50px auto 0px;
        order: 3;
    }
}

#footer-copyright {
    @include media-breakpoint-down(sm) {
        order: 2;
    }
}

#footer-copyright span {
    margin-right: 10px;
}

#footer-copyright span, #footer-links a {
    line-height: 35px;
}

#footer-links {
    display: flex;
    @include media-breakpoint-down(sm) {
        justify-content: space-between;
        width: 100%;
    }
}

#footer-social-links {
    display: flex;
}

.footer-social-link {
    margin-right: 10px;
    @include media-breakpoint-down(sm) {
        margin-right: 22px;
    }
}

#footer-links-pages, #footer-copyright {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

#footer-contact-coordinates a:hover {
    text-decoration: underline;
}

#footer-links-pages a {
    margin-right: 10px;

}

.footer-text-with-arrow {
    display: flex;
    align-items: center;
    &::before {
        content: '';
        display: block;
        background-image: url(/images/arrow-min.png);
        height: 7px;
        width: 3px;
        margin-right: 5px;
    }
}