// Menu styling

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0px;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: $font-size-menu;
}

nav {
  min-width: -webkit-min-content; /* Workaround to Chrome bug */
  width: 100%;
  padding: 0 40px;
  z-index: 800;
}

nav ul {
  display: flex;
  margin-left: 0px;
}

nav li {
  list-style-type: none;
  margin-left: 30px;
}

nav li:first-child {
  flex-grow: 2;
  margin-left: 0px;
}

nav a {
  white-space: nowrap;
  transition: opacity 0.3s ease-out;
}

nav a:hover {
  opacity: 0.5;
}

#right-menu {
  justify-content: flex-end;
  display: flex;
  text-align: right;
  z-index: 101;
}

#right-menu ul {
  display: none; //At first, then use the d-md-flex to display it when necessary
  align-items: center;
}

#right-menu ul li {
  margin-right: 20px;
}

#link-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#popover-menu {
  display: flex;
  z-index: 100;
  width: 100%;
  position: fixed;
  background-color: white;
  top: -30%;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 100px;
  transition: all 0.3s linear;
}

#popover-menu.active {
  top: 0%;
  opacity: 1;
  box-shadow: 1px 1px 5px;
}

#popover-menu #popover-links {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  list-style: none;
}

#popover-menu li {
  margin-bottom: 30px;
}

@include media-breakpoint-down(md) {
  nav {
    padding: 0 25px;
  }

}